:root {
    --bg1: #1f1f1f;
    --bg2: rgb(44, 42, 42);
    --body: rgb(222, 4, 4);
    --brand: #c33b15;
    --white: #f2f2f2;
    --p: rgb(161, 150, 150);
    --border: #FAFAFA;
    --brand2: #5F5656;
}


#banner{
    height:90vh;
    background-image: url(sunrise.avif);
    background-size: cover;
}

.btn{
    padding:15px 30px;
    font-weight: 900;
    border-radius:60px;
    font-size:18px;
    transform: all 0.45 ease;
}

.btn-brand{
    background-color: green;
    color: #FFF;
    border: 2px solid #fff;
}
.btn-brand:hover{
    background-color: transparent;
    color: #FFF;
    border: 2px solid #FFF;
}
section{
    padding: 100px 0;
}
#about h2{
    font-size: 50px;
    font-weight: 900;
    color: blue;
}

.testimonials {
    padding: 30px;
    border: 2px solid red;
    border-radius: 30px;
}

.testimonials img{
    width: 75px;
    border-radius: 100px;
}

.testimonials a{
    color: blue;
}

#reviews h2{
    font-size: 55px;
    font-weight: 900px;
    color: blue;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000000;
}